    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2017 {{ site.title }}. Todos os direitos reservados.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Principal</a></li>
                        <li><a href="#">Sobre nós</a></li>
                        <li><a href="#">Perguntas frequentes</a></li>
                        <li><a href="#">Contatos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
